{{extend 'layout.html'}}

<!-- link back to /default/index-->
<a href="{{=URL('default', 'index')}}" class='btn'>Back to camphyr</a>

<form action="searches.html" method = "get">                                <!-- form for search bar -->
    <input type="text" name="search" placeholder="Search for stories"/>     <!--placeholder inside search bar -->
    <input type="submit" value="Search!"/>                                  <!-- submit button -->
</form>                                                                     <!-- end form-->

<!-- For loop to print out hits -->
<p>{{=length}} Results found for "{{=search}}"</p>
    {{for s in stories:}}
        <a href = '{{=s.address}}'>{{=s.title}} by {{=s.user_email}}</a><br /><br />
    {{pass}}
{{pass}}

<!-- For loop to print out related_stories -->
<br /><br /><br /><br />
<p>Related Stories:</p>
{{for s in related_stories:}}
<a href = '{{=s.address}}'>{{=s.title}} by {{=s.user_email}}</a><br /><br />
    {{pass}}
{{pass}}

<br />
<div id="target"></div>
