{{extend 'layout.html'}}
{{block header}}

<!-- might need 'static', 'js/vue.js' script again -->
<script src="{{=URL('static', 'chart/project/build/astrochart.min.js')}}"></script>
{{end}}

{{if auth.user:}}
       <!-- This only works for your OWN profile -->

{{if cl is not None:}}

<div style="background-color:#7fdbff;">
    <h1> {{=auth.user.username}}'s Profile </h1>

    <div class="left_column" style="float:left;">
    {{if cl.profile_picture is not None:}}
    {{pass}}

        {{=IMG(_src=URL('static', 'images/profile_pics', args=cl.profile_picture),
               _height='200px', _width='200px'
        )}}

        <h3>Birthday:</h3>
        <p>{{=cl.birthday.month}}/{{=cl.birthday.day}}</p>
        <h3>About:</h3>
        <p>{{=cl.bio}}</p>
        <div class="profile_btn">
            <a class="btn rounded" href="{{=URL('default','edit_profile')}}">
                <i class="fa fa-edit fa-lg"> Edit Profile</i>
            </a>
        </div>
    </div>

</div>

<script>
    // I dont get what i am supposed to do here...
    var data = {
        "planets": {
            "Moon":[0],
            "Sun":[311],
            "Mercury":[60],
            "Venus":[60],
            "Mars":[120],
            "Jupiter":[300],
            "Saturn":[201, -0.2],
            "Uranus":[180],
            "Neptune":[110, 0.2],
            "Pluto":[150],
            "Chiron":[210],
            "Lilith":[0],
            "NNode":[300]
        },
        "cusps":[300, 340, 30, 60, 75, 90, 116, 172, 210, 236, 250, 274]
    };
	window.onload = function(){
		var chart = new astrology.Chart( 'paper', 800, 800);
		chart.radix( data );
        chart.aspects();
	};
</script>


{{else:}}
      <h2>Alert: Please go back to set up your profile.</h2>
      <a class="btn rounded" href="{{=URL('default','edit_profile')}}">
          <i class="fa fa-edit fa-lg"> Edit Profile</i>
      </a>


{{pass}}

{{else:}}

        <h1>You must be logged in to see your profile.</h1>

{{pass}}
