div.padd{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: white;
    width: 60%;
    height: 60%;
    border-radius: 6px;
    margin:auto auto;
    /*margin-left:50px;
    margin-right:50px;
    margin-bottom:100px;*/
}

div.bg{
    background-image: url('../images/space.jpg');
    height: 100%;
    width: 100%;
    /*background = BLUE;*/
    /*margin-bottom:50px;*/
}

label.lab{
    color: black;
}
