{{extend 'layout.html'}}

{{block header}}

{{end}}

{{if auth.user is None:}}
<a href="{{=URL('default', 'user')}}" class="btn large">Login</a>
<a href="{{=URL('default', 'user', args='register', vars={'_next': request.vars._next} if request.vars._next else None)}}" class="btn large">Sign Up</a>
{{else:}}

{{if 'message' in globals():}}
<h1>{{=message}}</h1>
<p class="lead">{{=T('Jump in and start storytelling!')}}</p>

<div class="right_column">
    <a href="{{=URL('default', 'user_profile')}}" class="btn large">Your User Profile</a>
</div>
{{pass}}
<h2>Story Title</h2>
<div id = 'story'>{{=story}}</div>
<div id='mostrecents'>
{{for name in db(db.story.ishead==True).select():}} 
        <div id = 'storyheads'>
        	{{link = URL('default', 'sample_story_page', vars = dict(title_name = name.title))}}
        	<a href = '{{=link}}'>{{=name.title}}</a>
        </div>
{{pass}}
</div>

{{pass}}
