/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

select {
    padding: 16px 20px;
    border: 2px solid black;
    border-radius: 4px;
    background-color:#CCEECC;
}

textarea {
    border: 2px solid black;
    border-radius: 4px;
    background-color: #CCEECC;
    color: black;
    resize: none;
}

input[type=button], input[type=submit] { 
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}

